@import "../../../res/css/globals.css";
.Resume {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
}

/* GENERIC Title and Content */

.Title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.25em 0.75em;
  background: linear-gradient( var(--lightGray), var(--middleGray));
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid black;
}

.SubTitle {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 0 0.25em 0.5em;
  transition: all 0.2s ease-in-out;
  opacity: 1.0;
  background: linear-gradient( var(--lightGray), var(--middleGray));
  border-bottom: 1px solid black;

}

.SubTitle:hover {
  background: linear-gradient( var(--blueGray), var(--middleGray));
  ;
}

.Content {
  font-size: 1.0em;
  padding: 0.25em 0.25em 0.25em 0.75em;
}

.ContentTableRow {
  display: inline-block;
}

.ContentTableCell {
  text-align: center;
  border: var(--darkGray) solid 0.01em;
  display: block;
  padding: 0.5em;
}

li {
  padding-left: 0px;
  margin-left: 0.2em;
}

.ResumeHeader {
  text-align: center;
}

/* HEADER */

.ResumeHeaderTitle {
  font-size: 2.5em;
  padding: 0.10em;
  background: var(--middleGray)
}

.ResumeHeaderSubTitle {
  font-size: 1.25em;
  padding: 0.20em;
  background: var(--lightGray);
}

/* CONTENT SECTION */

.ResumeContent {
  /* padding: 0.25em 0; */
  background: var(--offWhite);
}

/* Objective */

.ResumeObjective {
  text-align: center;
}

/* Education  */

.ResumeEducation {
  min-height: 7em;
}

/* FOOTER */

.ResumeFooter {
  padding: 0.5em;
  text-align: center;
  background: var(--middleGray);
  padding-bottom: var(--footerHeight);
}