.Header {
    text-align: center;
    width: 100%;
    display: inherit;
    background: radial-gradient(var(--lightGray), var(--darkGray));
  }
  
  .Header-logo {
    height: var(--logoSmall);
    opacity: 0.6;      
    transition: all 0.8s ease-in-out;
  }

  .Header-logo:hover {
    height: var(--logoLarge);
    transform: rotate(360deg);
    opacity: 1.0;  
  }
  
  .Header-header {
    height: var(--headerHeight);
    padding: 10px;
    width: auto;
    display: block;
    color: white;
  }
  
  .Header-title {
    font-size: 1.5em;
  }

  
  .blur{
    filter: blur(5px);
    
  }

  @keyframes spin-clockwise {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes spin-counterclockwise {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }