.Header {
    text-align: center;
    width: auto;
    display: block;
    background-color: #333;
  }
  
  .Header-logo {
    /* animation: Header-logo-spin infinite 30s linear; */
    height: 80px;
    opacity: 0.6;      
    transition: all 1s ease-in-out;
    
  }
  .Header-logo:hover {
    height: 120px;
    transform: rotate(360deg);
    opacity: 1.0;  
  }
  
  .Header-header {
    height: 160px;
    padding: 20px;
    width: auto;
    display: block;
    color: white;
  }
  
  .Header-title {
    font-size: 1.5em;
  }
  
  .Header-intro {
    font-size: large;
  }
  
  

  .Header-bezel{
    background-color:#555; 
    padding : 0px 250px 0px 250px;   
    display:inline-block;
    border-radius: 250px 250px 250px 250px;
    transition: all 1s ease-in-out;
    
  }
  .Header-bezel:hover{
    border-radius: 125px;
    padding: 0 500px 0 500px;
  }

  @keyframes spin-clockwise {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes spin-counterclockwise {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }