@import "../../../res/css/globals.css";
.MenuButton {
    background-color: var(--darkGray);
    display: inline-block;
    padding: 0.75em var(--menuButtonPadding);
    margin: 0 0.25em;
    border-radius: 6em;
    transition: all 0.25s ease-in-out;
    box-shadow: 0em 0em 0.75em 0.2em var(--offBlack);
}

.MenuButton:hover {
    backGround-color: var(--lightGray);
    padding: 0.75em var(--menuButtonPadding);
    box-shadow: 0em 0em 0.75em 0.25em var(--darkGray);
}

a {
    color: #d4d4d4;
    transition: all 0.125s ease-in-out;
}

a:hover {
    color: #111;
}